@model IEnumerable<S7MVC.Models.procesos_incidencias>

@{
    ViewBag.Title = "Lista";
}

<h3>Lista</h3>

<p>
    @Html.ActionLink("Ingresar", "Create", null , new { @class = "btn btn-primary btn-md" })
</p>
<table class="table table-hover table-condensed small">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pro_inc_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pro_inc_nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.pro_inc_idn }, new { @class = "btn btn-warning btn-xs" } ) |
            @Html.ActionLink("Detalle", "Details", new { id=item.pro_inc_idn }, new { @class = "btn btn-info btn-xs" } ) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.pro_inc_idn }, new { @class = "btn btn-danger btn-xs" } )
        </td>
    </tr>
}

</table>
