@model S7MVC.Models.usuarios_productos

@{
    ViewBag.Title = "Eliminar";
}

<h3>Eliminar</h3>

<h3>Esta seguro que desea eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_pro_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_pro_activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anos.ano_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anos.ano_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodos.per_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodos.per_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productos.pro_codigo_umas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productos.pro_codigo_umas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.usu_nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.usu_nombres)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
