@model S7MVC.Models.procesos_gestiones_incidencias

@{
    ViewBag.Title = "Detalle";
}

<h3>Detalle</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gestiones_incindecias.ges_inc_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gestiones_incindecias.ges_inc_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procesos_incidencias.pro_inc_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procesos_incidencias.pro_inc_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.pro_ges_inc_idn }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
</p>
