@model S7MVC.Models.usuarios

<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Detalle Usuario</div>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.usu_nombres)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usu_nombres)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.usu_apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usu_apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.usu_id_nacional)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usu_id_nacional)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.usu_email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usu_email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.usu_clave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.usu_clave)
                </dd>

            </dl>
        </div>
    </div>
</div>


<div>

    @{Html.RenderAction("Index", "usuarios_productos", new { usu_idn = ViewBag.usu_idn });}

</div>

<div>
    
   @{Html.RenderAction("Index_usuarios", "atenciones_incidencias", new { usu_idn = ViewBag.usu_idn });}
    
</div>





<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
</p>

