@model S7MVC.Models.atenciones_procesos_incidencias

@{
    ViewBag.Title = "Ingresar";
}

<h3>Ingresar</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ate_inc_idn, "ate_inc_idn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ate_inc_idn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ate_inc_idn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pro_ges_inc_idn, "pro_ges_inc_idn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pro_ges_inc_idn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pro_ges_inc_idn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ate_pro_inc_observacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ate_pro_inc_observacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ate_pro_inc_observacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ate_pro_inc_fecha_ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ate_pro_inc_fecha_ingreso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ate_pro_inc_fecha_ingreso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emp_usu_sed_idn, "emp_usu_sed_idn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("emp_usu_sed_idn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.emp_usu_sed_idn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class ="btn btn-default" })
</div>
